@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

.footer {
    background: #2D3B49;
    padding-top: 41px;
    padding-bottom: 22px;

    &__top {

        margin-bottom: 35px;
        
        @media (max-width: 1300px) {
            display: flex;
            gap: 40px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 100%;
            color: c.$white;
            text-transform: uppercase;
        }
    }

    &__logo {
        display: flex;
        gap: 17px;
        align-items: end;
        margin-bottom: 24px;

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 120%;
            color: c.$white;
            text-transform: uppercase;
        }
    }

    &__mid {
        display: flex;
        gap: 73px;

        @media (max-width: 1660px) {
            gap: 40px;
        }

        @media (max-width: 1300px) {
            flex-direction: column;
        }
        @media (max-width: 822px) {
            gap: 0;
        }


    }

    &__contacts {
        display: flex;
        flex-wrap: wrap;
        max-width: 630px;
        border-right: 1px solid #3D536B;
        margin-bottom: 50px;

        @media (max-width: 1660px) {
            max-width: 600px;
        }

        @media (max-width: 1300px) {
            max-width: 100%;
            border-right: none;
            gap: 40px;
        }

        @media (max-width: 822px) {
            gap: 20px;
            margin-bottom: 37px;
        }

        .footer__info {
            @media (max-width: 1300px) {
                display: none;
            }
        }

    }

    &__head-office {
        flex: 0 0 60%;
        max-width: 338px;

        @media (max-width: 1300px) {
            flex: none;
            max-width: 338px;
        }
    }

    &__moscow-office {
        flex: 0 0 40%;
        max-width: 195px;

        @media (max-width: 1300px) {
            flex: none;
            max-width: 100%;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        color: c.$white;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__address {
        font-size: 15px;
        font-weight: 400;
        line-height: 150%;
        color: c.$white;
        margin-bottom: 20px;
    }

    &__phone {
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-bottom: 20px;

        span {
            font-size: 15px;
            font-weight: 400;
            line-height: 150%;
            color: #DADFE4;
        }

        a {
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            color: c.$white;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__mail {
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-bottom: 20px;

        span {
            font-size: 15px;
            font-weight: 400;
            line-height: 150%;
            color: #DADFE4;
        }

        a {
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            color: c.$white;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__opening-hours {
        display: flex;
        gap: 3px;
        flex-direction: column;

        span:first-child {
            font-size: 15px;
            font-weight: 400;
            line-height: 150%;
            color: #DADFE4;
        }

        span:last-child {
            font-size: 15px;
            font-weight: 400;
            line-height: 150%;
            color: c.$white;
        }
    }

    &__info {
        flex: 0 0 100%;
        margin-top: 48px;
        max-width: 595px;
        font-size: 16px;
        font-weight: 400;
        line-height: 142%;
        color: #778390;
        
        @media (max-width: 1660px) {
            max-width: 546px;
        }

        @media (max-width: 1300px) {
            max-width: 100%;
        }

    }

    &__nav {
        display: flex;
        gap: 74px;

        @media (max-width: 1300px) {
            gap: 40px;
            margin-bottom: 38px;
        }

        @media (max-width: 822px) {
            margin-bottom: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        
        &:first-child {
            @media (max-width: 1300px) {
                max-width: 340px;
            }

            @media (max-width: 550px) {
                max-width: 153px;
            }
        }
    }

    &__item {
        &.dropdown .footer__link {
            display: inline-block;
            margin-bottom: 25px;
        }
    }

    &__link {
        font-size: 15px;
        font-weight: 400;
        line-height: 100%;
        color: c.$white;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }

    &__sub-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__sub-item {}

    &__sub-link {
        font-size: 15px;
        font-weight: 400;
        line-height: 100%;
        color: c.$white;

        &:hover {
            text-decoration: underline;
        }
    }

    &__social {
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;

        @media (max-width: 1300px) {
            display: none;
        }

        &.mobile {
            display: none;

            @media (max-width: 1300px) {
                display: flex;
                flex-direction: row;
                align-items: start;
                flex-wrap: wrap;
                column-gap: 24px;
                row-gap: 16px;
            }

            @media (max-width: 500px) {
                display: none;
            }
        }

    }

    &__wrapper {
        &:last-child a {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #778391;

            &:hover {
                text-decoration: underline;
            }

            span {
                font-size: 15px;
                font-weight: 400;
                line-height: 100%;
                color: #778391;
            }
        }
    }

    &__bottom {
        display: flex;

        @media (max-width: 750px) {
            flex-direction: column;
        }

        div {
            font-size: 16px;
            font-weight: 400;
            line-height: 142%;
            color: #778390;
            
            @media (max-width: 1000px) {
                font-size: 15px;
            }

            a {
                color: #778390;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.social {
    display: flex;
    gap: 8px;
    margin-bottom: 21px;

    &__link {
        width: 40px;
        height: 40px;
        background: #3D4D61;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(-5px);
        }
    }
}

.rutube {
    display: inline-block;
    margin-bottom: 20px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }

}

.copyright {
    margin-right: 24px;
}

.development {
    margin-left: auto;

    @media (max-width: 750px) {
        margin-left: 0;
    }
}

.footer__info.mobile {
    display: none;

    @media (max-width: 1300px) {
        display: block;
        text-align: center;
        margin-bottom: 32px;
    }

    @media (max-width: 1000px) {
        font-size: 15px;
    }
    @media (max-width: 450px) {
        text-align: left;
    }

}
