@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

.header {
    height: 150px;

  @media (max-width: 1300px) {
    height: auto;
  }

  @media (max-width: 450px) {
    position: fixed;
    width: 100%;
    z-index: 900;
    top: 0;
    background: c.$white;
  }

    &__top {
      padding-top: 6px;
      padding-bottom: 6px;

      @media (max-width: 1300px) {
        align-items: center;
      }

      @media (max-width: 700px) {
        .lang {
          display: none;
        }
      }

      .search {
        &.mobile {
          display: none;

          @media (max-width: 450px) {
            display: block;
            margin-left: 19px;
          }
        }
      }
    }

    &__inner {
      width: 100%;

      @media (max-width: 1300px) {
        margin-left: 0;
        margin-right: auto;

        @media (max-width: 450px) {
          margin-right: 0;
          width: 100%;
        }
      }
    }

    &__bottom {
      align-items: end;
      padding-bottom: 27px;
      
      @media (max-width: 1300px) {
        background: #EAEFF4;
        margin-left: -15px;
        margin-right: -15px;
        padding: 0 15px;
        align-items: center;
      }
      @media (max-width: 700px) {
        padding-top: 8px;
        padding-bottom: 8px;
      }


      @media (max-width: 700px) {
        .mail {
          display: none;
        }
      }

      @media (max-width: 450px) {
        .search {
          display: none;
        }
      }
    }

    &__nav {
      margin-right: auto;
      height: 44px;
    }

  .container {

    &.mobile {
      display: none;

      @media (max-width: 1300px) {
        display: block;
      }
    }

    &.desktop {
      @media (max-width: 1300px) {
        display: none;
      }
    }
  }
}

.location {
  gap: 5px;
}

.operating-mode {
  gap: 5px;
  margin-right: 32px;
  font-size: 16px;
  font-weight: 400;

  b {
    color: #626262;
  }
}

.mail {
  gap: 5px;
  margin-right: 32px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s ease;

  a {
    color: #626262;

    &:hover {
      color: #E11A1A;
    }
  }
}

.phone {
  gap: 10px;
  margin-right: 16px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s ease;

  @media (max-width: 450px) {
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    margin-right: 0;
  }

  a {
    color: #626262;

    &:hover {
      color: #E11A1A;
    }
  }
}

.call-btn {
  padding: 11.5px 23.5px;
  border: 1px solid #FF0000;
  color: c.$black;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 2px;
  margin-left: auto;

  @media (max-width: 1300px) {
    margin-right: 0;
    margin-left: 33px;
    padding: 10px 23.5px;
  }

  @media (max-width: 700px) {
   display: none;
  }

  &:hover {
    color: c.$white;
    background: c.$dark-red;
    border: 1px solid c.$dark-red;
  }
}

.logo {

  margin-right: 34px;
  max-height: 60px;

  @media (max-width: 1300px) {
    margin-right: auto;
  }

  svg {
    max-width: 239px;

    @media (max-width: 1600px) {
      max-width: 197px;
    }

    @media (max-width: 450px) {
      max-width: 141px;
    }
  }
}

.catalog-btn {
  height: 44px;
  margin-right: 27px;
  background: #E11A1A;
  padding-left: 24px;
  padding-right: 24px;
  gap: 10px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  color: c.$white;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  cursor: pointer;

  @media (max-width: 1500px) {
    padding-left: 14px;
    padding-right: 14px;
  }

  &:hover {
    background: #BB0202;
  }

  &.active {
    background: #CDCDCD;
  }
}

.menu {

  gap: 16px;
  
  @media (max-width: 1500px) {
    gap: 10px;
  }


    &__item {
      position: relative;
      cursor: pointer;
      padding-right: 25px;

      &.dropdown:hover .sub-menu  {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }


      &.dropdown::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #716E6E transparent transparent transparent;
        margin-right: 8px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }

    &__link {
      font-size: 20px;
      font-weight: 400;
      line-height: 100%;
      color: c.$black;

      &:hover {
        color: #E11A1A;
      }
    }
}

.sub-menu {
  display: none;
  position: absolute;
  padding: 20px;
  border-radius: 5px;
  background: #F5FAFF;
  transition: all 0.3s ease;
  box-shadow: 0 2px 27.9px 0 #A8A8A8B8;
  width: 200px;
  z-index: 1001;


  &__link {
      transition: all 0.3s ease;
      color: #333333;

      &:hover {
        color: #E11A1A;
      }
    }
}

.search {
  &__inner {
    align-items: center;
    position: relative;

    @media (max-width: 1300px) {
      justify-content: flex-end;
    }
  }


  &__toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    position: relative;
    z-index: 999;

    @media (max-width: 1300px) {
      display: block;
    }

    svg {
      width: 26px;
      height: 26px;
    }
  }


  .desktop &__inner svg:first-child {
    width: 26px;
    height: 26px;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    @media (max-width: 1300px) {
      display: none;
    }
  }


  .desktop &__toggle {
    display: none;
  }

  &__form {
    width: 100%;
    position: relative;
    transition: all 0.3s ease-in-out;

    @media (max-width: 1300px) {
      position: fixed;
      top: 96px;
      right: -100%;
      width: 100%;
      height: 45px;
      background: transparent;
      max-width: 500px;
      z-index: 1000;
      padding: 15px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      transform-origin: right center;

      &.active {
        right: 0;
        animation: searchSlideIn 0.3s ease-out;
      }
    }
  }

  &__input {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    color: #A0B8CF;
    width: 482px;
    height: 41px;
    border: 1px solid #A0B8CF;
    border-radius: 10px;
    padding: 10px 10px 10px 42px;
    transition: all 0.3s ease;

    @media (max-width: 1840px) {
      width: 300px;
    }

    @media (max-width: 1580px) {
      width: 200px;
    }

    @media (max-width: 1440px) {
      width: 125px;
    }

    @media (max-width: 1300px) {
      width: 100%;
      padding: 10px 50px 10px 15px;
      font-size: 16px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      background: c.$white;
    }

    &::placeholder {
      color: #A0B8CF;
    }
  }

  &__close {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #A0B8CF;
    z-index: 1002;

    @media (max-width: 1300px) {
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.basket {
  background: #2D3B49;
  border-radius: 5px;
  position: relative;
  padding: 7px 8px 0 5px;
  margin-left: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;

  @media (max-width: 1300px) {
    margin-left: 33px;
    padding-top: 6px;
  }
  @media (max-width: 450px) {
    margin-left: 0;
  }


  span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF0000;
    color: c.$white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    right: -5px;
    top: -5px;
    transition: all 0.3s ease;
    padding: 3px;
  }

  &:hover {
    background: c.$dark-red;

    span {
      background: #2D3B49;
    }
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background: linear-gradient(45deg, transparent calc(50% - 1px), #FF0000 calc(50% - 1px), #FF0000 calc(50% + 1px), transparent calc(50% + 1px)),
  linear-gradient(-45deg, transparent calc(50% - 1px), #FF0000 calc(50% - 1px), #FF0000 calc(50% + 1px), transparent calc(50% + 1px));
  cursor: pointer;
}

.burger {
  width: 52px;
  height: 33px;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  margin-left: 65px;

  @media (max-width: 450px) {
    margin-left: 12px;
    width: 43px;
    height: 28px;
  }
}

.burger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #626262;
  border-radius: 2px;
  left: 0;
  transition: all 0.3s ease;
}

.burger span:nth-child(1) {
  top: 0;
}

.burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger span:nth-child(3) {
  bottom: 0;
}

@keyframes searchSlideIn {
  0% {
    opacity: 0;
    transform: scaleX(0.1);
    transform-origin: right center;
  }
  70% {
    opacity: 1;
    transform: scaleX(1.02);
  }
  100% {
    transform: scaleX(1);
  }
}

@media (max-width: 1300px) {
  .header .container.mobile .search {
    position: relative;

    &__inner {
      position: static;
    }
  }
}

.lang {
  display: flex;
  align-items: center;
}

.inside-page {
  header {
    box-shadow: 0 4px 11.2px 0 rgba(160, 178, 195, 0.54);
    position: relative;
    z-index: 1;

    .container {
      &.desktop {
        padding-bottom: 10px;
      }
    }

    @media (max-width: 1360px) {
      box-shadow: none;
    }
  }
}

.basket_empty {
  margin-top: 30px;
}