@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

.modal-catalog {
  position: fixed;
  top: 139px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;

  @media (max-width: 1300px) {
    display: none;
  }

    &.active {
      opacity: 1;
      visibility: visible;

      .modal-catalog__nav {
        transform: translateY(0);
      }
    }

    &__nav {
      padding: 60px 43px 93px 43px;
      background: rgba(245, 250, 255, 1);
      box-shadow: 0 50px 30px rgba(0, 0, 0, 0.3);
      max-height: 90vh;
      overflow-y: auto;
      transform: translateY(-20px);
      transition: transform 0.3s ease;
    }

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      max-width: 230px;
    }

    &__link {
      font-size: 22px;
      font-weight: 400;
      line-height: 110%;
      color: #9E9E9E;
      text-transform: uppercase;
      word-wrap: break-word;
      overflow-wrap: break-word;
      display: inline-block;
      max-width: 100%;
      transition: all 0.3s ease;

      &:hover {
        color: #E11A1A;
      }
    }

    &__sub-list {
      margin-top: 14px;
    }

    &__sub-item {
      &:not(:last-child) {
        margin-bottom: 17px;
      }
    }

    &__sub-link {
      font-size: 20px;
      font-weight: 400;
      line-height: 100%;
      color: c.$black;
      transition: all 0.3s ease;

      &:hover {
        color: #E11A1A;
      }
    }

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1001;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.mobile-menu {
  background: c.$white;
  padding: 53px 119px 53px 68px;
  width: 100%;
  max-width: 623px;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  overflow-y: auto;
  transition: right 0.3s ease;
  z-index: 1002;
  
  @media (max-width: 550px) {
    padding: 53px 17px 53px 17px;
  }

  &.active {
    right: 0;
  }

  .phone {
    @media (max-width: 450px) {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 22px;
    cursor: pointer;
    
    @media (max-width: 450px) {
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__list {
    margin-bottom: 47px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 26px;
    }

    &.dropdown-box .menu-link-wrapper {
      position: relative;
      display: inline-block;

      .dropdown-arrow {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #716E6E transparent transparent transparent;
        margin-left: 10px;
        position: relative;
        top: -4px;
        transition: transform 0.3s ease;
        cursor: pointer;
        transform: rotate(0deg);

        &::before {
          content: '';
          position: absolute;
          top: -12px;
          left: -12px;
          right: -12px;
          bottom: -12px;
          z-index: 1;
        }
      }
    }

    &.dropdown-box.active .menu-link-wrapper .dropdown-arrow {
      transform: rotate(180deg);
    }
  }

  &__link {
    font-size: 25px;
    font-weight: 600;
    line-height: 100%;
    color: c.$black;
    display: inline-block;

    @media (max-width: 450px) {
      font-size: 22px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;

    div {
      display: flex;
      align-items: center;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .call-btn {
      margin-left: 0;
    }

    .social {
      margin-bottom: 0;

      .social__item:first-child a {
        background: #42C452;
      }

      .social__item:nth-child(2) a {
        background: #25A3E2;
      }
      .social__item:nth-child(3) a {
        background: #E22525;
      }
    }
  }
}

.dropdown-box {
  &__list {
    margin-top: 26px;
    display: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 26px;
    }

    &.dropdown-sub-box .menu-link-wrapper .dropdown-arrow {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: #716E6E transparent transparent transparent;
      margin-left: 10px;
      position: relative;
      top: -3px;
      transition: transform 0.3s ease;
      cursor: pointer;
      transform: rotate(0deg) !important;

      &::before {
        content: '';
        position: absolute;
        top: -12px;
        left: -12px;
        right: -12px;
        bottom: -12px;
        z-index: 1;
      }
    }

    &.dropdown-sub-box.active .menu-link-wrapper .dropdown-arrow {
      transform: rotate(180deg) !important;
    }
  }

  &__link {
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    color: c.$black;
    display: inline-block;

    @media (max-width: 450px) {
      font-size: 20px;
    }
  }
}

.dropdown-sub-box {
  &__list {
    margin-top: 26px;
    display: none;
    
    @media (max-width: 450px) {
      margin-top: 19px;
      padding-left: 20px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    color: c.$black;

    @media (max-width: 450px) {
      font-size: 18px;
    }
  }
}

.mobile-menu__item.dropdown-box.active > .dropdown-box__list {
  display: block;
}

.dropdown-box__item.dropdown-sub-box.active > .dropdown-sub-box__list {
  display: block;
}

.mobile-menu__item:not(.dropdown-box) .dropdown-arrow {
  display: none;
}

.call-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  opacity: 0;
  max-height: 95vh;
  overflow-y: auto;
  visibility: hidden;

  @media (max-width: 750px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  &.opened {
    transition: all .25s;
    visibility: visible;
    opacity: 1;
  }

  &__close {
    position: absolute;
    cursor: pointer;
    top: 14px;
    right: 24px;
    z-index: 2;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: c.$black;
    margin-bottom: 14px;
    line-height: 34px;
    letter-spacing: 0.02em;

    @media (max-width: 750px) {
      font-size: 24px;
    }
  }

  &__inner {
    width: 668px;
    background: c.$white;
    padding: 64px 22px 58px 28px;

    @media (max-width: 750px) {
      width: 100%;
    }
  }
}

.modal-form {

  fieldset:first-child {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  fieldset:last-child {
    display: flex;
    gap: 15px;
    margin-top: 6px;

    @media (max-width: 750px) {
      flex-direction: column-reverse;
    }
  }

  .file-upload__label {
    height: 47px;
    background: #FFFFFF;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #6D6D6D;
    border: 1px dashed #D8DFE7;
    border-radius: 5px;
    display: flex;
    align-items: center;

    .file-upload__text {
      display: flex;
      gap: 10px;
      align-items: flex-start;
      cursor: pointer;

      @media (max-width: 750px) {
        font-size: 16px;
        line-height: 115%;
        gap: 0;
        flex-direction: column;
      }

      span {
        font-size: 14px;
      }
    }
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    width: 100%;
    height: 47px;
    background: #FFFFFF;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #6D6D6D;
    border: 1px solid #D8DFE7;
    border-radius: 5px;

    @media (max-width: 750px) {
      font-size: 16px;
    }
  }

  textarea {
    width: 100%;
    height: 134px;
    background: #FFFFFF;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #6D6D6D;
    border: 1px solid #D8DFE7;
    border-radius: 5px;
    padding-top: 18px;

    @media (max-width: 750px) {
      font-size: 16px;
    }
  }

  .submit-btn {
    @include red-button;
    margin: 0;
    width: 210px;
    height: 47px;

    @media (max-width: 750px) {
      font-size: 16px;
      height: 40px;
    }
  }
}

.offer-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  opacity: 0;
  max-height: 95vh;
  overflow-y: auto;
  visibility: hidden;

  @media (max-width: 750px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  &.opened {
    transition: all .25s;
    visibility: visible;
    opacity: 1;
  }

  &__close {
    position: absolute;
    cursor: pointer;
    top: 14px;
    right: 24px;
    z-index: 2;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: c.$black;
    margin-bottom: 14px;
    line-height: 34px;
    letter-spacing: 0.02em;

    @media (max-width: 750px) {
      font-size: 24px;
    }
  }

  &__inner {
    width: 668px;
    background: c.$white;
    padding: 64px 22px 58px 28px;

    @media (max-width: 750px) {
      width: 100%;
    }
  }
}

.review-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  opacity: 0;
  max-height: 95vh;
  overflow-y: auto;
  visibility: hidden;

  @media (max-width: 750px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  &.opened {
    transition: all .25s;
    visibility: visible;
    opacity: 1;
  }

  &__close {
    position: absolute;
    cursor: pointer;
    top: 14px;
    right: 24px;
    z-index: 2;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: c.$black;
    margin-bottom: 14px;
    line-height: 34px;
    letter-spacing: 0.02em;

    @media (max-width: 750px) {
      font-size: 24px;
    }
  }

  &__inner {
    width: 668px;
    background: c.$white;
    padding: 64px 22px 58px 28px;

    @media (max-width: 750px) {
      width: 100%;
    }
  }
}


.vacancy-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  opacity: 0;
  max-height: 95vh;
  overflow-y: auto;
  visibility: hidden;

  @media (max-width: 750px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  &.opened {
    transition: all .25s;
    visibility: visible;
    opacity: 1;
  }

  &__close {
    position: absolute;
    cursor: pointer;
    top: 14px;
    right: 24px;
    z-index: 2;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: c.$black;
    margin-bottom: 14px;
    line-height: 34px;
    letter-spacing: 0.02em;

    @media (max-width: 750px) {
      font-size: 24px;
    }
  }

  &__inner {
    width: 668px;
    background: c.$white;
    padding: 64px 22px 58px 28px;

    @media (max-width: 750px) {
      width: 100%;
    }
  }
}

.consultation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  opacity: 0;
  max-height: 95vh;
  overflow-y: auto;
  visibility: hidden;

  @media (max-width: 750px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  &.opened {
    transition: all .25s;
    visibility: visible;
    opacity: 1;
  }

  &__close {
    position: absolute;
    cursor: pointer;
    top: 14px;
    right: 24px;
    z-index: 2;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: c.$black;
    margin-bottom: 14px;
    line-height: 34px;
    letter-spacing: 0.02em;

    @media (max-width: 750px) {
      font-size: 24px;
    }
  }

  &__inner {
    width: 668px;
    background: c.$white;
    padding: 64px 22px 58px 28px;

    @media (max-width: 750px) {
      width: 100%;
    }
  }
}