@use "./colors.scss" as c;
@use "../styles/mixins.scss" as *;

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: c.$black;
}

h1 {
  font-size: 62px;
  font-weight: 500;
  line-height: 130%;
  color: c.$dark-grey;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  text-align: center;

  @media (max-width: 1500px) {
    font-size: 38px;
    margin-bottom: 42px;
  }

  @media (max-width: 1300px) {
    font-size: 34px;
    margin-bottom: 32px;
  }

  @media (max-width: 650px) {
    font-size: 26px;
    margin-bottom: 32px;
  }
}


.equipment {
  padding-top: 82px;
  position: relative;

  @media (max-width: 1550px) {
    padding-top: 72px;
  }
  @media (max-width: 1300px) {
    padding-top: 70px;
  }

  @media (max-width: 650px) {
    padding-top: 48px;
  }

  
  h2 {
    @media (max-width: 1500px) {
      max-width: 790px;
      margin: 0 auto;
      margin-bottom: 57px;
    }
    @media (max-width: 1300px) {
      max-width: 728px;
      margin: 0;
      margin-bottom: 16px;
      text-align: left;
    }

  }
}

.marking {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media (max-width: 1650px) {
    gap: 21px;
  }

  @media (max-width: 1300px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;
  }
  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 650px) {
    grid-template-columns: repeat(1, 1fr);
  }


    &__wrapper {
      position: relative;
      border-radius: 5px;
      transition: all 0.3s ease;
      cursor: pointer;
      overflow: hidden;
      border: 1px solid #EAEFF4;

      &:hover {
        box-shadow: 0px 2px 27.9px 0px #A8A8A8B8;

        .marking-img {
          overflow: hidden;

          img {
            transform: scale(1.03);
            transition: all 0.3s ease;
          }
        }
      }



      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        flex: 1 1 calc(33.33% - 20px);

        @media (max-width: 1300px) {
          flex: none;
          grid-column: auto;
        }
      }


      &:nth-child(4) {
        flex: 1 1 calc(45% - 15px);

        @media (max-width: 1300px) {
          flex: none;
          grid-column: auto;
        }

      }

      &:nth-child(5) {
        flex: 1 1 calc(55% - 15px);

        @media (max-width: 1300px) {
          flex: none;
          grid-column: auto;
        }
      }


      &:nth-child(6) {
        flex: 1 1 calc(55% - 15px);

        @media (max-width: 1300px) {
          flex: none;
          grid-column: auto;
          flex-direction: column;
        }

      }

      &:nth-child(7) {
        flex: 1 1 calc(45% - 15px);

        @media (max-width: 1300px) {
          flex: none;
          grid-column: 1 / -1;
          height: auto;
          min-height: 333px;

          .marking-img {
            min-height: 100%;
          }
        }

        @media (max-width: 650px) {
          min-height: auto;
        }
      }

    }


    &__item {
      padding-left: 12px;
      display: flex;
      align-items: start;
      gap: 15px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 3px;
        width: 4px;
        height: 13px;
        background: url("../images/red-arrow.svg") no-repeat;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      .marking__link {
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: c.$black;
        transition: all 0.3s ease;

        @media (max-width: 1300px) {
          font-size: 16px;
        }

        &:hover {
          color: #E11A1A;
        }
      }

    }
}

.item-top {
  background: url("../images/marking-top.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  @media (max-width: 1300px) {
    background: none;
  }

  .marking-img {
    flex-shrink: 0;
    height: 350px;
    
    @media (max-width: 1500px) {
      height: 259px;
    }

    @media (max-width: 1300px) {
      height: 220px;
    }

    @media (max-width: 650px) {
      display: none;
    }
  }

  .marking__info {
    flex: 1;
    padding: 26px 48px 53px 48px;

    @media (max-width: 1550px) {
      padding: 26px 28px 53px 28px;
    }
    @media (max-width: 1300px) {
      padding: 26px 28px 45px 28px;
      background: url("../images/marking-right.jpg") no-repeat;
      background-position: right center;
      background-size: cover;
    }
    @media (max-width: 650px) {
      padding: 20px;
    }



    h3 {
      margin-bottom: 20px;
      max-width: 356px;

      .marking__link {
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: c.$black;


        &:hover {
          color: #E11A1A;
        }
      }
    }

    ul {
      max-width: 356px;
    }
  }
}

.marking-img {

  @media (max-width: 1300px) {
    height: 220px;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.interior-new {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 84px;
  height: 19px;
  border: 1px solid #E11A1A;
  font-size: 16px;
  font-weight: 400;
  color: c.$red;
  border-radius: 2px;
}

.new {
  width: 84px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E11A1A;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: c.$white;
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 3px;

  @media (max-width: 650px) {
    display: none;
  }
}

.item-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  min-height: 400px;

  @media (max-width: 1300px) {
    min-height: 550px;
  }

  @media (max-width: 650px) {
    min-height: auto;
  }

  .marking-img {
    width: 50%;
    display: flex;

    @media (max-width: 1300px) {
        width: auto;
    }

    @media (max-width: 650px) {
      display: none;
    }

    &.big {
      width: 64%;

      @media (max-width: 1500px) {
        width: 50%;
      }
      @media (max-width: 1500px) {
        width: 100%;
      }

    }
    .marking__info {
      flex: 1;
    }

  }

  @media (max-width: 1300px) {
    flex-direction: column;
  }

  h3 {
    margin-bottom: 20px;

    a {
      font-size: 24px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #333333;

      &:hover {
        color: #E11A1A;
      }
    }
  }

  .marking__info {
    background: url("../images/marking-right.jpg") no-repeat;
    background-size: cover;
    background-position: right center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 35px;
    padding-left: 35px;
    
    @media (max-height: 1300px) {
      padding: 26px 28px 45px 28px;
      justify-content: start;
    }

    @media (max-width: 650px) {
      padding: 20px;
    }
  }
}

.item-left {
  display: flex;
  align-items: stretch;
  min-height: 400px;

  @media (max-width: 1300px) {
    min-height: 550px;
  }

  @media (max-width: 650px) {
    min-height: auto;
  }


  .marking-img {
    width: 50%;
    display: flex;

    @media (max-width: 1300px) {
      width: auto;
    }

    @media (max-width: 650px) {
      display: none;
    }

    &.big {
      width: 64%;

      @media (max-width: 1500px) {
        width: 50%;
      }
      @media (max-width: 1300px) {
        width: 100%;
      }

    }
  }

  h3 {
    margin-bottom: 20px;

    a {
      font-size: 24px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #333333;

      &:hover {
        color: #E11A1A;
      }
    }
  }

  .marking__info {
    background: url("../images/marking-right.jpg") no-repeat;
    background-position: right center;
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 35px;
    padding-left: 35px;


    @media (max-height: 1300px) {
      padding: 26px 28px 45px 28px;
      justify-content: start;
    }

    @media (max-width: 650px) {
      padding: 20px;
    }
  }

}

.all-link {

  a {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #E11A1A;

    @media (max-width: 1300px) {
      font-size: 16px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.new-items {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 1550px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (max-width: 1300px) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
  @media (max-width: 650px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

}

.cards {
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;

      @media (max-width: 1550px) {
        gap: 20px;
      }

      @media (max-width: 1300px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
      }

    }

    &__item {
      border: 1px solid #D8DFE7;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      display: grid;
      grid-template-rows: auto 1fr;

      &:hover {
        box-shadow: 0px 2px 27.9px 0px #A8A8A8B8;

        img {
          transform: scale(1.05);
        }
      }
    }

    &__img {
      height: 295px;
      overflow: hidden;
      flex-shrink: 0;

      img {
        transition: all 0.3s ease;
        height: 100%;
        width: 100%;
        object-fit: contain;

        @media (max-width: 600px) {
          width: 100%;
        }
      }
    }

    &__info {
      padding: 20px 20px 30px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
    }

    &__title {

      margin-bottom: 37px;

      h4 {
        a {
          font-size: 22px;
          font-weight: 500;
          line-height: 130%;
          letter-spacing: 0.02em;
          color: c.$black;
          margin-bottom: 10px;
          transition: all 0.3s ease;

          @media (max-width: 1550px) {
            font-size: 20px;
          }
          @media (max-width: 1300px) {
            font-size: 18px;
          }


          &:hover {
            color: #E11A1A;
          }
        }
      }

      span {
        font-size: 16px;
        font-weight: 300;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: c.$black;
        margin-bottom: 10px;

        @media (max-width: 1300px) {
          font-size: 15px;
        }
      }
    }

    &__link {

    }

    &__price {
      font-size: 18px;
      font-weight: 500;
      line-height: 100%;
      color: #000000;
      margin-bottom: 15px;
    }

    &__intelligence {
      display: flex;
      gap: 10px;
      margin-bottom: 15px;
    }

    &__details {
      font-size: 18px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0.02em;
      color: #E11A1A;
      padding-right: 11px;
      position: relative;

      @media (max-width: 1300px) {
        font-size: 16px;
      }

      &::after {
        content: "";
        width: 6px;
        height: 10px;
        position: absolute;
        top: 4px;
        right: 0;
        background: url("../images/red-arrow.svg") no-repeat;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &__buttons {
      display: flex;
      gap: 18px;
    }

    &__peculiarities {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      gap: 6px;
    }

    &__top {}

    &__bottom {

    }

    .new {
      position: static;
    }
}

.rus {
  background: #EAEFF4;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: c.$black;
  width: 181px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.status {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: c.$black;
}

.offer-btn {
  flex: 1;
  height: 40px;
  background: #A8A8A8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: c.$white;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: all 0.3s ease;

  @media (max-width: 1300px) {
    font-size: 16px;
  }

  &:hover {
    background: #BB0202;
  }
}

.basket-btn {
  width: 40px;
  height: 40px;
  background: #2D3B49;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background: #BB0202;
  }
}

.action {
  width: 84px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: c.$white;
  background: #26AE97;
  border-radius: 3px;
}

.rus.false {
  visibility: hidden;
}

.action.false,
.new.false {
  display: none;
}

.advantages {
  background: url("../images/advantages-bg.jpg") no-repeat;
  background-position: right center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 1550px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (max-width: 1300px) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
  
    h2 {
      @media (max-width: 1500px) {
        max-width: 1007px;
        margin: 0 auto;
        margin-bottom: 48px;
        line-height: 130%;
      }

      @media (max-width: 1300px) {
        max-width: 723px;
        margin: 0;
        margin-bottom: 32px;
        text-align: left;
        line-height: 130%;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 30px;
      row-gap: 50px;
      margin-bottom: 48px;

      @media (max-width: 1300px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        margin-bottom: 32px;
      }
      @media (max-width: 1300px) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
      }

    }

    &__item {
      display: flex;
      align-items: center;
      gap: 20px;

      span {
        font-size: 20px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2D3B49;

        @media (max-width: 1300px) {
          font-size: 18px;
        }
      }

      svg {
        min-width: 63px;
      }
    }
}

.consultation-btn {
  @include red-button;

  @media (max-width: 1300px) {
    font-size: 16px;
  }
}

.partners {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;

  @media (max-width: 1300px) {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  h2 {
    @media (max-width: 1300px) {
      margin-bottom: 16px;
    }
  }

  .swiper {
    padding-left: 20px;
    padding-right: 20px;

    .custom-progress-container {
      position: relative;
      height: 10px;
      background: #D8DFE7;
      border-radius: 100px;
      margin-top: 25px;
      cursor: pointer;
      overflow: hidden;
      display: none;
    }


    .custom-progress-bar {
      background: #BECCDB;
      border-radius: 100px;
      height: 100%;
      width: 0%;
      transition: width 0.3s ease;
    }


    @media (max-width: 650px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

    &__controls {

      @include swiper-button-prev;

      @include swiper-button-next;

      @media (max-width: 650px) {
        display: none;
      }

     .swiper-button-prev svg,
     .swiper-button-next svg {
        width: 15px;
        height: 27px;
      }
    }
}

.partners-slider {

  .swiper-slide {
    border: 1px solid #D8DFE7;
    border-radius: 10px;
    width: 342px;
    height: 171px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      @media (max-width: 1300px) {
        max-width: 146px;
      }

      @media (max-width: 650px) {
        max-width: 86px;
      }
    }
    
    @media (max-width: 1300px) {
      height: 123px;
    }

    @media (max-width: 650px) {
      height: 83px;
    }
  }
}

.events {
  padding-top: 80px;
  padding-bottom: 80px;
  background: url("../images/events-bg.jpg") no-repeat;
  background-size: cover;
  background-position: right center;
  position: relative;

  @media (max-width: 1500px) {
    padding-top: 60px;
    padding-bottom: 106px;
  }

  @media (max-width: 1300px) {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  h2 {
    @media (max-width: 1300px) {
      margin-bottom: 16px;
    }
  }

  .swiper {
    padding-left: 20px;
    padding-right: 20px;

    .events-progress-container {
      position: relative;
      height: 10px;
      background: c.$white;
      border-radius: 100px;
      margin-top: 25px;
      cursor: pointer;
      overflow: hidden;
      display: none;
    }

    .events-progress-bar {
      background: #BECCDB;
      border-radius: 100px;
      height: 100%;
      width: 0%;
      transition: width 0.3s ease;
    }


    @media (max-width: 1000px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

    &__controls {

      .swiper-button-prev svg,
      .swiper-button-next svg {
        width: 15px;
        height: 27px;
      }

        @include swiper-button-prev;

        @include swiper-button-next;

    }

    &__image {
      overflow: hidden;
      height: 268px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
      }
    }

     &__item {
       background: c.$white;
       height: 100%;
       display: grid;
       grid-template-rows: auto 1fr;
       height: 478px;
     }

     &__info {
       padding: 25px 20px 20px 20px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
     }

     &__date {
       font-size: 16px;
       font-weight: 400;
       line-height: 150%;
       letter-spacing: 0.02em;
       color: #A7A7A7;
       
       @media (max-width: 1500px) {
         margin-bottom: 5px;
       }
     }

     &__title {

       font-size: 20px;
       font-weight: 500;
       line-height: 130%;
       letter-spacing: 0.02em;
       color: c.$black;
       transition: all 0.3s ease;
       margin-bottom: 10px;
       display: -webkit-box;
       -webkit-line-clamp: 4;
       -webkit-box-orient: vertical;
       overflow: hidden;
       max-height: calc(1.4em * 4);

       @media (max-width: 1300px) {
         font-size: 18px;
       }
     }

     &__link {
       display: flex;
       align-items: center;
       font-size: 18px;
       font-weight: 400;
       letter-spacing: 0.02em;
       gap: 6px;
       color: #E11A1A;

       @media (max-width: 1300px) {
         font-size: 16px;
       }

       &:hover {
         text-decoration: underline;
       }
     }
}



.events-slider {

  .swiper-slide {
    background: url("../images/events-slide-bg.jpg") no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
    border: 1px solid #D8DFE7;
    border-radius: 10px;
    overflow: hidden;

    &:hover {
      box-shadow: 0px 2px 27.9px 0px #A8A8A8B8;

      .events__image img {
        transform: scale(1.03);
      }
    }
  }

}

.main-form {
  padding-top: 80px;
  padding-bottom: 80px;
  
  @media (max-width: 1500px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (max-width: 1300px) {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  @media (max-width: 700px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

    &__title {
      font-size: 32px;
      font-weight: 600;
      line-height: 34px;
      letter-spacing: 0.02em;
      color: c.$black;
      margin-bottom: 20px;

      @media (max-width: 1500px) {
        font-size: 30px;
      }

      @media (max-width: 1300px) {
        font-size: 28px;
      }
      @media (max-width: 650px) {
        font-size: 24px;
      }

    }

    p {
      font-size: 18px;
      font-weight:400;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: #6D6D6D;
      margin-bottom: 38px;

      @media (max-width: 1300px) {
        font-size: 16px;
      }
    }
    .container {
      max-width: 1297px;
      margin: 0 auto;

      @media (max-width: 1350px) {
        max-width: 100%;
        padding-left: 32px;
        padding-right: 32px;
      }
  }
}

.form-main {
    display: flex;
    gap: 24px;

  @media (max-width: 1300px) {
    flex-wrap: wrap;
  }

  @media (max-width: 760px) {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  fieldset {
    display: flex;
    gap: 24px;
    border: none;

    @media (max-width: 760px) {
      flex-direction: column;
    }
  }

  input[type="text"],
  input[type="tel"] {
    width: 342px;
    height: 47px;
    background: c.$white;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #6D6D6D;
    border: 1px solid #D8DFE7;
    border-radius: 5px;

    @media (max-width: 1300px) {
      font-size: 16px;
    }

    @media (max-width: 450px) {
      width: 100%;
    }
  }

   button {
    @include red-button;
     width: 154px;
     height: 47px;
     margin-right: -9px;

     @media (max-width: 1300px) {
       font-size: 16px;
     }

     @media (max-width: 760px) {
       margin-right: 0;
       margin-left: 0;
     }

     @media (max-width: 450px) {
       width: 100%;
     }
  }
}

.checkbox-label {
  display: flex;
  align-items: start;
  gap: 8px;

  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #6D6D6D;
    display: inline-block;
    max-width: 399px;
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    & + span {
      display: flex;
      align-items: flex-start;
      gap: 8px;

      &::before {
        content: '';
        display: inline-block;
        width: 21px;
        height: 21px;
        background: white;
        transition: all 0.2s ease;
        flex-shrink: 0;
        margin-top: 2px;
      }
    }

    &:checked + span::before {
      background: white;
      border-color: #E11A1A;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='21' height='21' rx='3' fill='white'/%3E%3Cpath d='M17 7L8.75 15L5 11.3636' stroke='%23E11A1A' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.section-header {
  display: flex;
  align-items: start;
  justify-content: space-between;

  @media (max-width: 1300px) {
    flex-direction: column;
    margin-bottom: 24px;
  }
}

.marking__wrapper .marking__info h3 .marking__link {
  @media (max-width: 1300px) {
    font-size: 22px;
  }

  @media (max-width: 650px) {
    font-size: 20px;
  }

}


.breadcrumb {
 &__inner {
   margin-top: 30px;

   @media (max-width: 450px) {
     margin-top: 12px;
   }
 }
  &__list {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 450px) {
      display: none;
    }
  }

  &__item {
    position: relative;
    padding-right: 20px;

    &.active {
      a {
        color: #E11A1A;


        &:hover {
          text-decoration: underline;
        }
      }
    }

    &:not(:last-child)::after {
      content:"";
      width: 9px;
      height: 9px;
      position: absolute;
      background: url("../images/breadcrumb-arrow.svg") no-repeat;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__link {
    color: #3C3F41;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;


    &:hover {
      text-decoration: underline;
    }
  }
}

.back-link {
  display: none;

  @media (max-width: 450px) {
    display: block;
    color: #3C3F41;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    padding-left: 15px;

    &:hover {
      text-decoration: underline;
    }

    &::before {
      content: " ";
      width: 9px;
      height: 9px;
      position: absolute;
      background: url("../images/breadcrumb-arrow.svg") no-repeat;
      left: 0;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.page-name {
  padding-top: 32px;
  
  @media (max-width: 1500px) {
    padding-top: 24px;
  }

  h1 {
    font-size: 54px;
    font-weight: 500;
    line-height: 100%;
    color: #272727;

    @media (max-width: 1500px) {
      font-size: 52px;
    }

    @media (max-width: 1300px) {
      font-size: 40px;
    }
    @media (max-width: 700px) {
      font-size: 28px;
    }

  }
}

.catalog {
  padding-top: 48px;
  padding-bottom: 80px;

  @media (max-width: 1500px) {
    padding-top: 32px;
    padding-bottom: 60px;
  }

  @media (max-width: 1300px) {
    font-size: 24px;
    padding-bottom: 56px;
  }
  @media (max-width: 700px) {
    padding-bottom: 48px;
  }

}


.projects {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #EAEFF4;


  @media (max-width: 1500px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (max-width: 1300px) {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  @media (max-width: 700px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  &__item {
    background: c.$white;
    min-height: 748px;
    display: grid;
    grid-template-rows: auto 1fr;
    transition: all 0.3s ease;

    @media (max-width: 1300px) {
      min-height: 478px;
    }

    &:hover {
      box-shadow: 0px 2px 27.9px 0px #A8A8A8B8;

      img {
        transform: scale(1.05);
      }
    }
  }

  &__info {
    padding: 37px 20px 30px 20px;
    display: flex;
    flex-direction: column;
  }

  &__img {

    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #333333;
    margin-bottom: 10px;

    @media (max-width: 1500px) {
      font-size: 20px;
    }

    @media (max-width: 1200px) {
      font-size: 18px;
    }
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #333333;
    margin-bottom: 10px;

    @media (max-width: 1300px) {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #E11A1A;
    margin-top: auto;

    &:hover {
      text-decoration: underline;
    }
  }

  &__controls {
    .swiper-button-prev svg,
    .swiper-button-next svg {
      width: 15px;
      height: 27px;
    }

    @include swiper-button-prev;

    @include swiper-button-next;
  }

  .projects-slider {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;

    @media (max-width: 1000px) {
      margin: 0;
      padding: 0;
    }

    .projects-progress-container {
      position: relative;
      height: 10px;
      background: c.$white;
      border-radius: 100px;
      margin-top: 25px;
      cursor: pointer;
      overflow: hidden;
      display: none;
    }

    .projects-progress-bar {
      background: #BECCDB;
      border-radius: 100px;
      height: 100%;
      width: 0%;
      transition: width 0.3s ease;
    }

    @media (max-width: 600px) {
      .projects-progress-container {
        display: block;
      }

      .projects__controls {
        display: none;
      }
    }
  }

  .section-header {
    position: relative;
    justify-content: center;
    align-items: flex-end;

    h2 {
      @media (max-width: 1300px) {
        margin-bottom: 16px;
      }
    }
    
    @media (max-width: 1300px) {
      align-items: start;
      flex-direction: column;
    }

    .all-link {
      position: absolute;
      top: 15px;
      right: 0;

      @media (max-width: 1300px) {
        position: static;
      }
    }
  }
}

.content {
  padding-top: 80px;
  padding-bottom: 80px;
  background: url("../images/content-bg.png") no-repeat;
  background-size: contain;
  background-position: bottom right;
  background-size: 50%;
  border-bottom: 1px solid #EAEFF4;

  @media (max-width: 1500px) {
    padding-top: 60px;
    padding-bottom: 0;
    border: none;
  }
  @media (max-width: 1300px) {
    padding-top: 56px;
    padding-bottom: 0;
    background: none;
  }

  @media (max-width: 700px) {
    padding-top: 48px;
    padding-bottom: 0;
  }


    &__inner {
      max-width: 1297px;
      margin: 0 auto;

      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: c.$black;
        margin-bottom: 30px;

        @media (max-width: 1300px) {
          font-size: 16px;
        }

        @media (max-width: 700px) {
          margin-bottom: 24px;
        }
      }

      .bold {
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: c.$black;
        margin-bottom: 0;

        @media (max-width: 700px) {
          font-size: 16px;
        }
      }

      h3 {
        font-size: 34px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: c.$black;
        margin-bottom: 30px;

        @media (max-width: 1500px) {
          font-size: 32px;
        }
        @media (max-width: 1300px) {
          font-size: 28px;
        }

        @media (max-width: 700px) {
          font-size: 24px;
        }
      }

      h4 {
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: c.$black;
        margin-bottom: 24px;

        @media (max-width: 700px) {
          font-size: 16px;
          margin-bottom: 24px;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 26px;

        li {
          padding-left: 12px;
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: 0.02em;
          color: c.$black;
          margin-left: 12px;
          position: relative;

          @media (max-width: 1300px) {
            font-size: 16px;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 6px;
            width: 4px;
            height: 13px;
            background: url("../images/red-arrow.svg") no-repeat;
          }

          a {
            color: #E11A1A;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
}

.catalog-directory {
  padding-top: 46px;
  padding-bottom: 80px;
  
  @media (max-width: 1500px) {
    padding-bottom: 60px;
  }

  @media (max-width: 1359px) {
    padding-bottom: 60px;
    padding-top: 24px;
  }
  @media (max-width: 700px) {
    padding-bottom: 48px;
    padding-top: 24px;
  }

    .new {
      @media (max-width: 650px) {
        display: flex;
      }
      @media (max-width: 450px) {
        width: 66px;
        height: 20px;
        font-size: 14px;
        top: 16px;
        left: 16px;
      }

    }

    &__inner {
      display: grid;
      grid-template-columns: 437px 1fr;
      gap: 30px;
      
      @media (max-width: 1700px) {
        grid-template-columns: 337px 1fr;
        gap: 20px;
      }

      @media (max-width: 1359px) {
        display: block;
      }

      .marking__info {
        padding: 19px;

        @media (max-width: 1200px) {
          padding-left: 14px;
          padding-right: 14px;
        }
        @media (max-width: 450px) {
          padding: 14px;
        }

      }

      .marking {

        .marking__wrapper {
          @media (max-width: 450px) {
            height: 125px;
          }
        }

        .item-top {
          @media (max-width: 766px) {
            display: flex;
            flex-direction: row;

            .marking__info {
              display: flex;
              align-items: center;
            }
          }
          
          @media (max-width: 450px) {
            .marking__info {
              h3 {
                margin-bottom: 0;
              }
            }
          }
        }

        .item-top .marking-img {
          max-height: none;
        }

        @media (max-width: 1300px) {
          display: flex;
          flex-wrap: wrap;

          .marking__wrapper:not(.item-top) {
            flex-direction: row;
            min-height: auto;
          }
          @media (max-width: 766px) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
          }


          .marking__wrapper:nth-child(1), .marking__wrapper:nth-child(2), .marking__wrapper:nth-child(3) {
            flex: 1 1 calc(33.33% - 20px);
          }
          .marking__wrapper:nth-child(4) {
            flex: 1 1 calc(55% - 15px);
          }
          .marking__wrapper:nth-child(5) {
            flex: 1 1 calc(45% - 15px);
          }
          .marking__wrapper:nth-child(6) {
            flex: 1 1 calc(55% - 15px);
          }
          .marking__wrapper:nth-child(7) {
            flex: 1 1 calc(45% - 15px);
          }

          .item-top .marking-img {
            max-height: none;
            height: auto;
          }
        }
        
        @media (max-width: 1200px) {
          gap: 20px;
        }
        .marking__wrapper {
          .marking__link {
            @media (max-width: 1500px) {
              font-size: 22px;
            }

            @media (max-width: 1359px) {
              font-size: 18px;
            }

            @media (max-width: 600px) {
              font-size: 16px;
            }
          }
        }
      }
    }
}

.side-menu {
  background: #F5F7FA;
  padding: 24px;

  @media (max-width: 1359px) {
    display: none;
  }

  &__list {}

  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    span {
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: #716E6E transparent transparent transparent;
      margin-bottom: 3px;
      margin-left: 10px;
      cursor: pointer;
      transition: transform 0.3s ease;
      margin-top: 10px;
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: c.$black;
    transition: color 0.3s ease;
    display: inline-block;
    cursor: pointer;
    display: flex;
    align-items: start;

    &:hover {
      color: #E11A1A;
    }
  }

  &__sublist {
    margin-top: 18px;
  }

  &__subitem {
    padding-left: 10px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      width: 4px;
      height: 13px;
      background: url("../images/red-arrow.svg") no-repeat;
    }
  }

  &__sublink {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: c.$black;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }
}

.catalog-directory {

  h3 {
    a {
      display: inline-block;

     svg {
       margin-left: 5px;
     }
    }
  }

  .item-right {
    .marking__info {
      justify-content: center;
    }

    .marking-img {
      @media (max-width: 1300px) {
        width: 50%;

        @media (max-width: 766px) {
          width: 40%;
        }

        &.big {
          width: 48%;

          @media (max-width: 766px) {
            width: 40%;
          }
        }
      }
    }
  }

.item-left {
  .marking__info {
    justify-content: center;
  }
}
  .marking-img {
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      height: auto;
    }
  }

  .marking__info {
    h3 {
      @media (max-width: 1359px) {
        max-width: 187px;
      }
  }
    img {
      height: 100%;
    }
  }
  .marking__wrapper:nth-child(4) {
    flex: 1 1 calc(55% - 15px);
  }
  .marking__wrapper:nth-child(5) {
    flex: 1 1 calc(45% - 15px);
  }

  .marking-img {

    max-height: 100%;

    @media (max-width: 766px) {
      width: 40%;
    }
    @media (max-width: 650px) {
      display: flex;
    }

    img {
      @media (max-width: 450px) {
        object-fit: contain;
        height: 100%;
      }
    }

  }


  .marking-img.big {
    width: 52%;

    @media (max-width: 766px) {
      width: 40%;
    }
  }

  .item-left .marking-img {
    width: 48%;

    @media (max-width: 766px) {
      width: 40%;
    }
  }

  .item-left .marking-img.big {
    width: 50%;

    @media (max-width: 766px) {
      width: 40%;
    }
  }

}


.assortment {
  .new {
    position: static;
  }

  .cards__list {
    @media (max-width: 1500px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px
    }

    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 42px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  &__item {

  }

  &__link {
    color: c.$black;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    width: 47px;
    height: 47px;
    background: #EAEFF4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    
    @media (max-width: 700px) {
      width: 39px;
      height: 39px;
      font-size: 16px;
    }

    &:hover {
      background: c.$white;
      border: 1px solid #E11A1A;
      color: c.$red;

    }

    &.active {
      background: c.$white;
      border: 1px solid #E11A1A;
      color: c.$red;

    }
  }

  &__prev {
    display: flex;
    align-items: center;

    svg path {
      transition: all 0.3s ease;
    }

    &:hover {
      svg path {
        stroke: #E11A1A;
      }
    }
  }

  &__next {
    display: flex;
    align-items: center;

    svg {
      transform: rotate(180deg);
    }

    svg path {
      transition: all 0.3s ease;
    }

    &:hover {
      svg path {
        stroke: #E11A1A;
      }
    }
  }
}

.content {
  &.color {
    background-color: #EAEFF4;
    background-image: url("../images/content-color-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom right;
    
    @media (max-width: 1500px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media (max-width: 1300px) {
      padding-top: 56px;
      padding-bottom: 56px;
      background-image: none;
    }
    @media (max-width: 700px) {
      padding-top: 48px;
      padding-bottom: 48px;
    }

  }

  dt {
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: c.$black;
    padding-left: 12px;
    position: relative;
    margin-bottom: 18px;

    @media (max-width: 700px) {
      font-size: 16px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      width: 4px;
      height: 13px;
      background: url(http://localhost:9000/assets/images/red-arrow.svg) no-repeat;
    }
  }

  dd {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: c.$black;
    
    @media (max-width: 700px) {
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}