@use "../mixins.scss" as *;

.section-404 {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__svg {
        max-width: 652px;
        width: 100%;
        height: auto;
        margin-top: 30px;

        @media (max-width: 1350px) {
            margin-top: 0;
        }
    }

    &__title {
        color: #000;
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: -35px;
    }

    &__desc {
        color: #000;
        margin-bottom: 20px;
    }

    &__btn {
        @include red-button;
        padding: 13px 30px;
        font-size: 16px;
    }
}