@use "../mixins.scss" as *;
@use "../colors.scss" as *;

.basket-clear {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 10px 20px;
    max-width: 844px;
    margin-top: 44px;
    margin-bottom: 33px;
    font-size: 16px;

    button {
        cursor: pointer;
    }

    label {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    input[type="checkbox"] {
        accent-color: $red;
        width: 20px;
        height: 20px;
    }

    @media (max-width: 1300px) {
        max-width: none;
    }
}

.basket-page {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 49px;
    margin-bottom: 50px;
}

.basket-items {
    flex: 1 0;

    .basket-item {
        margin-bottom: 20px;
    }
}

.basket-item {
    position: relative;
    padding: 30px;
    border: 1px solid #D8DFE7;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;

    .cards__peculiarities {
        .new {
            position: relative;
            top: 0;
            left: 0;

            @media (max-width: 650px) {
                display: flex;
            }
        }
    }

    &__main {
        display: flex;
        gap: 20px;
        flex: 1 0 auto;

        @media (max-width: 750px) {
            flex: auto;
        }

        @media (max-width: 660px) {
            flex-direction: column;
        }
    }

    &__link {
        color: #333333;
        transition: all 0.3s ease;
        font-size: 20px;
        line-height: 130%;

        &:hover {
            color: $red;
        }
    }

    &__img {
        position: relative;
        max-width: 241px;
        width: 241px;

        @media (max-width: 660px) {
            max-width: none;
            width: auto;
            
            img {
                max-height: 295px;
            }
        }
    }

    &__info {
       width: 400px;

        @media (max-width: 660px) {
            width: auto;
        }
    }

    &__title {
        margin-bottom: 10px;

        h4 {
            margin-bottom: 10px;
        }

        span {
            font-size: 16px;
            font-weight: 300;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: #333333;
            margin-bottom: 10px;
        }
    }

    &__price {
        font-weight: 500;
        font-size: 26px;
        color: #000;
        text-align: center;

        @media (max-width: 660px) {
            font-size: 22px;
        }
    }

    &__del {
        cursor: pointer;
        margin-left: auto;
    }

    &__footer {
        display: flex;
        gap: 40px;
        flex: 1 0 auto;

        @media (max-width:660px) {
            width: 100%;
        }

        @media (max-width: 450px) {
            flex-wrap: wrap;
            gap: 16px;

            .basket-item-quantity {
                width: 100%;
            }
        }
    }

    @media (max-width:660px) {
        flex-direction: column;
    }
}

.basket-total {
    background-color: #F9F9F9;
    padding: 24px;
    max-width: 505px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 20px;
    position: sticky;
    top: 0;

    &__btn {
        @include red-button;
        width: 100%;
        font-size: 16px;
    }
    
    &__title {
        font-size: 18px;
        color: #0F1019;
        font-weight: bold;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        color: #0F1019;
        font-size: 16px;
        font-weight: bold;
    }

    &__footer {
        font-size: 16px;
        border-top: 1px dashed #CDD5E2;
        padding-top: 24px;
        
        a {
            color: $red;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media (max-width: 1300px) {
        max-width: none;
    }
}

.basket-item-quantity {
    display: flex;
    align-items: center;
    gap: 6px;

    &__btn {
        cursor: pointer;
        background: #2E3041;
        color: white;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    &__value {
        min-width: 75px;
        text-align: center;
        border: 1px solid #D8DFE7;
        border-radius: 100px;
    }
}