@use "../colors.scss" as *;

.search-result {
    margin-bottom: 80px;
    margin-top: 46px;

    &__title {
        text-align: left;
        font-family: Roboto;
        font-weight: 700;
        font-size: 42px;
    }

    &__items {
        .search-result-item {
            margin-bottom: 22px;
        }
    }
}

.search-result-form {
    margin-bottom: 24px;

    &__input {
        font-size: 18px;
        font-weight: 400;
        line-height: 100%;
        color: #A0B8CF;
        width: 100%;
        border: 1px solid #A0B8CF;
        border-radius: 10px;
        padding: 13px 8px;
        transition: all 0.3s ease;
        max-width: 875px;

        &::placeholder {
            color: #A0B8CF;
        }
    }
}


.search-result-item {
    font-size: 16px;
    line-height: 150%;

    &__title {
        color: $red;
        &:hover {
            text-decoration: underline;
        }
    }

    &__path {
        a {
            color: $red;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.search-result-sort {
    font-size: 16px;
    
    a {
        color: #000;

        &.active {
            color: $red;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}