<section class="about-tasks">
    <div class="container">
        <h2>Наши задачи</h2>
        <p>Мы дорожим своим именем и репутацией, поэтому заинтересованы в построении крепких, долговременных отношений с нашими клиентами</p>
        <ul class="about-tasks__list">
            <li class="about-tasks__item">
                <include src="assets/svg/tasks1.html"></include>
                <span>Подбор оборудования</span>
            </li>
            <li class="about-tasks__item">
                <include src="assets/svg/tasks2.html"></include>
                <span>Установка и запуск оборудования в эксплуатацию</span>
            </li>
            <li class="about-tasks__item">
                <include src="assets/svg/tasks3.html"></include>
                <span>Поставка оборудования</span>
            </li>
            <li class="about-tasks__item">
                <include src="assets/svg/tasks4.html"></include>
                <span>Обучение персонала</span>
            </li>
            <li class="about-tasks__item">
                <include src="assets/svg/tasks5.html"></include>
                <span>Гарантийное постгарантийное обслуживание</span>
            </li>
            <li class="about-tasks__item">
                <include src="assets/svg/tasks6.html"></include>
                <span>Сервисное обслуживание</span>
            </li>
        </ul>
    </div>
</section>