<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__container">
                <div class="footer__logo">
                    <a href="#">
                        <include src="assets/svg/footer-logo.html"></include>
                    </a>
                    <p>Проектные<br> медицинские решения</p>
                </div>
                <p>ООО АЛЬФА МОБИЛИ</p>
            </div>
            <div class="footer__social mobile">
                <div class="footer__wrapper">
                    <ul class="social">
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <include src="assets/svg/social1.html"></include>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <include src="assets/svg/social2.html"></include>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <include src="assets/svg/social3.html"></include>
                            </a>
                        </li>
                        <li class="social__item rutube">
                            <a href="#" class="social__link">
                                <include src="assets/svg/social4.html"></include>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--<div class="footer__wrapper">
                    <a href="#" class="rutube">
                        <include src="assets/svg/social4.html"></include>
                    </a>
                </div>-->
                <div class="footer__wrapper">
                    <a href="#">
                        <include src="assets/svg/site-card.html"></include>
                        <span>Карта сайта</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__mid">
            <div class="footer__contacts">
                <div class="footer__inner footer__head-office">
                    <div class="footer__title">головной офис</div>
                    <div class="footer__address">Россия, 193318, г. Санкт-Петербург, ул. Зольная, 15 - стр.1, БЦ "Морская Столица"</div>
                    <div class="footer__phone">
                        <span>Телефон</span>
                        <a href="tel:+78123265925">+7 (812) 326-59-25,</a>
                    </div>
                    <div class="footer__mail">
                        <span>E-mail</span>
                        <a href="mailto:medmeb@nnz.ru">medmeb@nnz.ru</a>
                    </div>
                </div>
                <div class="footer__inner footer__moscow-office">
                    <div class="footer__title">московский офис</div>
                    <div class="footer__address">Россия, 127018, г. Москва, ул. Складочная, д. 1, стр. 15</div>
                    <div class="footer__phone">
                        <span>Телефон</span>
                        <a href="tel:+74957828011">+7 (495) 782-80-11</a>
                    </div>
                    <div class="footer__mail">
                        <span>E-mail</span>
                        <a href="mailto:medmeb@nnz.ru">medmeb@nnz.ru</a>
                    </div>
                    <div class="footer__opening-hours">
                        <span>Режим работы</span>
                        <span>c 9:30 до 18:30</span>
                    </div>
                </div>
                <div class="footer__inner footer__info">
                    Сайт носит информационный характер и не является публичной офертой. Стоимость товаров/услуг,
                    их наличие и подробные характеристики уточняйте у представителей Администрации Сайта, используя
                    редства связи, указанные на Сайте.
                </div>
            </div>
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__item dropdown">
                        <a href="#" class="footer__link">Каталог</a>
                        <ul class="footer__sub-list">
                            <li class="footer__sub-item">
                                <a href="#" class="footer__sub-link">Мебель медицинская</a>
                            </li>
                            <li class="footer__sub-item">
                                <a href="#" class="footer__sub-link">Противоожоговые кровати</a>
                            </li>
                            <li class="footer__sub-item">
                                <a href="#" class="footer__sub-link">Рентгенваскулярная хирургия</a>
                            </li>
                            <li class="footer__sub-item">
                                <a href="#" class="footer__sub-link">Кровати электрические медицинские функциональные</a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">сотрудничество</a>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">О компании</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Акции</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Сервис</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Статьи</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">новости</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">оплата и доставка</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">вакансии</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Реквизиты</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">гарантия</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">отзывы</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__social">
                <div class="footer__wrapper">
                    <ul class="social">
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <include src="assets/svg/social1.html"></include>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <include src="assets/svg/social2.html"></include>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <include src="assets/svg/social3.html"></include>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer__wrapper">
                    <a href="#" class="rutube">
                        <include src="assets/svg/social4.html"></include>
                    </a>
                </div>
                <div class="footer__wrapper">
                    <a href="#">
                        <include src="assets/svg/site-card.html"></include>
                         <span>Карта сайта</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__inner footer__info mobile">
            Сайт носит информационный характер и не является публичной офертой. Стоимость товаров/услуг,
            их наличие и подробные характеристики уточняйте у представителей Администрации Сайта, используя
            редства связи, указанные на Сайте.
        </div>
        <div class="footer__bottom">
            <div class="copyright">© Все права защищены 2025</div>
            <div class="user-agreement"><a href="#">Пользовательское соглашение</a></div>
            <div class="development"><a href="https://artfactor.ru/">Разработано в «АртФактор»</a></div>
        </div>
    </div>
</footer>