<section class="main-form">
    <div class="container">
        <div class="main-form__title">Остались вопросы? Или нужна консультация?</div>
        <p>Оставьте ваш телефон, и мы вам перезвоним</p>
        <form class="form-main">
            <fieldset>
                <label>
                    <input type="text" name="name" placeholder="Имя"  required>
                </label>
                <label>
                    <input type="tel" name="tel" placeholder="Телефон" data-phone-input required>
                </label>
            </fieldset>
            <fieldset>
                <button class="submit-btn">
                   Отправить
                </button>
            </fieldset>
            <fieldset>
                <label class="checkbox-label">
                    <input type="checkbox" name="checkbox" required>
                    <span>
                        <span>Нажимая на кнопку «Отправить», вы соглашаетесь на обработку персональных данных</span>
                    </span>
                </label>
            </fieldset>
        </form>
    </div>
</section>