<div class="marking">
    <div class="marking__wrapper item-top">
        <div class="marking-img">
            <picture>
                <source media="(max-width: 1300px)" data-srcset="assets/images/marking10.jpg">
                <source media="(max-width: 1366px)" data-srcset="assets/images/marking9.jpg">
                <img class="lazy" data-src="assets/images/marking1.jpg" alt="">
            </picture>
        </div>
        <div class="marking__info">
            <h3><a href="#" class="marking__link">Рентгенэндоваскулярная хирургия</a></h3>
            <ul class="marking__list">
                <li class="marking__item">
                    <a href="#" class="marking__link">Расходные материалы для рентгенхирургии</a>
                    <span class="interior-new">Новинка</span>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Оборудование для рентгеноперационной</a>
                </li>
            </ul>
        </div>
        <div class="new">Новинка</div>
    </div>
    <div class="marking__wrapper item-top">
        <div class="marking-img">
            <picture>
                <source media="(max-width: 1300px)" data-srcset="assets/images/marking12.jpg">
                <source media="(max-width: 1366px)" data-srcset="assets/images/marking11.jpg">
                <img class="lazy" data-src="assets/images/marking2.jpg" alt="">
            </picture>
        </div>
        <div class="marking__info">
            <h3><a href="#" class="marking__link">Интенсивная терапия</a></h3>
            <ul class="marking__list">
                <li class="marking__item">
                    <a href="#" class="marking__link">Противоожоговые кровати</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Мониторы пациента</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Дефибриляторы</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">НДА ИВЛ</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="marking__wrapper item-top">
        <div class="marking-img">
            <picture>
                <source media="(max-width: 1300px)" data-srcset="assets/images/marking14.jpg">
                <source media="(max-width: 1366px)" data-srcset="assets/images/marking13.jpg">
                <img class="lazy" data-src="assets/images/marking3.jpg" alt="">
            </picture>
        </div>
        <div class="marking__info">
            <h3><a href="#" class="marking__link">Медицинская мебель</a></h3>
            <ul class="marking__list">
                <li class="marking__item">
                    <a href="#" class="marking__link">Кровати электрические</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Кровати механические</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Тележки медицинские</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Каталки для перевозки пациентов</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="marking__wrapper item-right">
        <div class="marking-img">
            <picture>
                <source media="(max-width: 1300px)" data-srcset="assets/images/marking16.jpg">
                <source media="(max-width: 1366px)" data-srcset="assets/images/marking15.jpg">
                <img class="lazy" data-src="assets/images/marking4.jpg" alt="">
            </picture>
        </div>
        <div class="marking__info">
            <h3><a href="#" class="marking__link">Диагностика</a></h3>
            <ul class="marking__list">
                <li class="marking__item">
                    <a href="#" class="marking__link">УЗИ универсальные</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Рентгены для хирургии</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Мобильные</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Стационарные</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Электрокардиографы</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Маммографы</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="marking__wrapper item-right">
        <div class="marking-img big">
            <picture>
                <source media="(max-width: 1300px)" data-srcset="assets/images/marking17.jpg">
                <source media="(max-width: 1366px)" data-srcset="assets/images/marking8.jpg">
                <img class="lazy" data-src="assets/images/marking5.jpg" alt="">
            </picture>
        </div>
        <div class="marking__info">
            <h3><a href="#" class="marking__link">Хирургия РАНБ</a></h3>
            <ul class="marking__list">
                <li class="marking__item">
                    <a href="#" class="marking__link">Ультразвуковой дебридмент ран</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Электроагуляторы</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Дерматопластика</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Хирургический инструмент</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="marking__wrapper item-left">
        <div class="marking-img big">
            <picture>
                <source media="(max-width: 1300px)" data-srcset="assets/images/marking19.jpg">
                <source media="(max-width: 1366px)" data-srcset="assets/images/marking18.jpg">
                <img class="lazy" data-src="assets/images/marking6.jpg" alt="">
            </picture>
        </div>
        <div class="marking__info">
            <h3><a href="#" class="marking__link">Реабилитация и физиотерапия</a></h3>
            <ul class="marking__list">
                <li class="marking__item">
                    <a href="#" class="marking__link">Ультразвуковой дебридмент ран</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Электроагуляторы</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Дерматопластика</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Хирургический инструмент</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="marking__wrapper item-left">
        <div class="marking-img">
            <picture>
                <source media="(max-width: 1300px)" data-srcset="assets/images/marking21.jpg">
                <source media="(max-width: 1366px)" data-srcset="assets/images/marking20.jpg">
                <img class="lazy" data-src="assets/images/marking7.jpg" alt="">
            </picture>
        </div>
        <div class="marking__info">
            <h3><a href="#" class="marking__link">Операционная</a></h3>
            <ul class="marking__list">
                <li class="marking__item">
                    <a href="#" class="marking__link">Коронарная ангиопластика</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Операционные столы</a>
                    <span class="interior-new">Новинка</span>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Светильники</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Стерилизаторы</a>
                </li>
                <li class="marking__item">
                    <a href="#" class="marking__link">Хирургический инструмент</a>
                </li>
            </ul>
        </div>
        <div class="new">Новинка</div>
    </div>
</div>