<div class="modal-catalog">
    <nav class="modal-catalog__nav">
        <ul class="modal-catalog__list">
            <li class="modal-catalog__item">
                <a href="#" class="modal-catalog__link">Операционная</a>
                <ul class="modal-catalog__sub-list">
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Операционные хирургические столы</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Светильник хирургический операционный</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Хирургический инструмент</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Тележки медицинские</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Стерилизаторы</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Навигационные системы</a>
                    </li>
                </ul>
            </li>
            <li class="modal-catalog__item">
                <a href="#" class="modal-catalog__link">Хирургия ран</a>
                <ul class="modal-catalog__sub-list">
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">VAC-Терапия</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Дерматопластика</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Электроагулятор</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Ультразвуковая очистка</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Ультразвуковая хирургия</a>
                    </li>
                </ul>
            </li>
            <li class="modal-catalog__item">
                <a href="#" class="modal-catalog__link">интенсивная терапия</a>
                <ul class="modal-catalog__sub-list">
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Противоожоговые кровати Synergie</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Матрасы с противолежневые с компрессором</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Мониторинг пациента</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Наркозно-дыхательные аппараты</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Аппараты искусственной вентиляции лекгих</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Консоли жизнеобеспечения</a>
                    </li>
                </ul>
            </li>
            <li class="modal-catalog__item">
                <a href="#" class="modal-catalog__link">мебель медицинская</a>
                <ul class="modal-catalog__sub-list">
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Каталка медицинская реанимационная для перевозки пациентов</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Кровать электрическая медицинская функциональная</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Кровать механическая медицинская функциональная</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Кровати для родовспоможения</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Кровати механические детские</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Кресло для диализа и забора крови</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Медицинская каталка для принятия душа</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Тележка медицинская</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Тумбочка медицинская</a>
                    </li>
                </ul>
            </li>
            <li class="modal-catalog__item">
                <a href="#" class="modal-catalog__link">диагностика</a>
                <ul class="modal-catalog__sub-list">
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">УЗИ портативные</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">УЗИ стационарные</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">УЗИ универсальные</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Рентгены для хирургии</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Мобильные рентгены</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Стационарные рентгены</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Электрокардиографы</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Маммографы</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Томографы</a>
                    </li>
                </ul>
            </li>
            <li class="modal-catalog__item">
                <a href="#" class="modal-catalog__link">Реабилитация и физиотерапия</a>
                <ul class="modal-catalog__sub-list">
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Противолежневые матрасы</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Активная разработка суставов</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Активно-пассивная разработка верхних и нижних конечностей</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Комбинированная терапия</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Миостимуляция</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Нейромышечная диагностика и реабилитация</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Пассивная разработка суставов</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Электротерапия</a>
                    </li>
                </ul>
            </li>
            <li class="modal-catalog__item">
                <a href="#" class="modal-catalog__link">Рентгенваскулярная хирургия</a>
                <ul class="modal-catalog__sub-list">
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Коронарная ангиопластика</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Оборудование для рентгеноперационной</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>