<div class="modal-catalog">
    <nav class="modal-catalog__nav">
        <ul class="modal-catalog__list">
            <li class="modal-catalog__item">
                <a href="#" class="modal-catalog__link">Операционная</a>
                <ul class="modal-catalog__sub-list">
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Операционные хирургические столы</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Светильник хирургический операционный</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Хирургический инструмент</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Тележки медицинские</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Стерилизаторы</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Навигационные системы</a>
                    </li>
                </ul>
            </li>
            <li class="modal-catalog__item">
                <a href="#" class="modal-catalog__link">Хирургия ран</a>
                <ul class="modal-catalog__sub-list">
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">VAC-Терапия</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Дерматопластика</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Электроагулятор</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Ультразвуковая очистка</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Ультразвуковая хирургия</a>
                    </li>
                </ul>
            </li>
            <li class="modal-catalog__item">
                <a href="#" class="modal-catalog__link">интенсивная терапия</a>
                <ul class="modal-catalog__sub-list">
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Противоожоговые кровати Synergie</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Матрасы с противолежневые с компрессором</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Мониторинг пациента</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Наркозно-дыхательные аппараты</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Аппараты искусственной вентиляции лекгих</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Консоли жизнеобеспечения</a>
                    </li>
                </ul>
            </li>
            <li class="modal-catalog__item">
                <a href="#" class="modal-catalog__link">мебель медицинская</a>
                <ul class="modal-catalog__sub-list">
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Каталка медицинская реанимационная для перевозки пациентов</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Кровать электрическая медицинская функциональная</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Кровать механическая медицинская функциональная</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Кровати для родовспоможения</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Кровати механические детские</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Кресло для диализа и забора крови</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Медицинская каталка для принятия душа</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Тележка медицинская</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Тумбочка медицинская</a>
                    </li>
                </ul>
            </li>
            <li class="modal-catalog__item">
                <a href="#" class="modal-catalog__link">диагностика</a>
                <ul class="modal-catalog__sub-list">
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">УЗИ портативные</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">УЗИ стационарные</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">УЗИ универсальные</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Рентгены для хирургии</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Мобильные рентгены</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Стационарные рентгены</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Электрокардиографы</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Маммографы</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Томографы</a>
                    </li>
                </ul>
            </li>
            <li class="modal-catalog__item">
                <a href="#" class="modal-catalog__link">Реабилитация и физиотерапия</a>
                <ul class="modal-catalog__sub-list">
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Противолежневые матрасы</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Активная разработка суставов</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Активно-пассивная разработка верхних и нижних конечностей</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Комбинированная терапия</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Миостимуляция</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Нейромышечная диагностика и реабилитация</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Пассивная разработка суставов</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Электротерапия</a>
                    </li>
                </ul>
            </li>
            <li class="modal-catalog__item">
                <a href="#" class="modal-catalog__link">Рентгенваскулярная хирургия</a>
                <ul class="modal-catalog__sub-list">
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Коронарная ангиопластика</a>
                    </li>
                    <li class="modal-catalog__sub-item">
                        <a class="modal-catalog__sub-link" href="#">Оборудование для рентгеноперационной</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div class="mobile-menu">
    <div class="mobile-menu__inner">
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item dropdown-box">
                <div class="menu-link-wrapper">
                    <a href="#" class="mobile-menu__link">Каталог</a>
                    <span class="dropdown-arrow"></span>
                </div>
                <ul class="dropdown-box__list">
                    <li class="dropdown-box__item dropdown-sub-box">
                        <div class="menu-link-wrapper">
                            <a href="#" class="dropdown-box__link">Операционная</a>
                            <span class="dropdown-arrow"></span>
                        </div>
                        <ul class="dropdown-sub-box__list">
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Операционные хирургические столы</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Светильник хирургический операционный</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Хирургический инструмент</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Тележки медицинские</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Стерилизаторы</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Навигационные системы</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-box__item dropdown-sub-box">
                        <div class="menu-link-wrapper">
                            <a href="#" class="dropdown-box__link">Хирургия ран</a>
                            <span class="dropdown-arrow"></span>
                        </div>
                        <ul class="dropdown-sub-box__list">
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">VAC-Терапия</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Дерматопластика</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Электроагулятор</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Ультразвуковая очистка</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Ультразвуковая хирургия</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-box__item dropdown-sub-box">
                        <div class="menu-link-wrapper">
                            <a href="#" class="dropdown-box__link">Интенсивная терапия</a>
                            <span class="dropdown-arrow"></span>
                        </div>
                        <ul class="dropdown-sub-box__list">
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Противоожоговые кровати Synergie</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Матрасы с противолежневые с компрессором</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Мониторинг пациента</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Наркозно-дыхательные аппараты</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Аппараты искусственной вентиляции лекгих</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Консоли жизнеобеспечения</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-box__item dropdown-sub-box">
                        <div class="menu-link-wrapper">
                            <a href="#" class="dropdown-box__link">Мебель медицинская</a>
                            <span class="dropdown-arrow"></span>
                        </div>
                        <ul class="dropdown-sub-box__list">
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Каталка медицинская реанимационная для перевозки пациентов</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Кровать электрическая медицинская функциональная</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Кровать механическая медицинская функциональная</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Кровати для родовспоможения</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Кровати механические детские</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Кресло для диализа и забора крови</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Медицинская каталка для принятия душа</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Тележка медицинская</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Тумбочка медицинская</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-box__item dropdown-sub-box">
                        <div class="menu-link-wrapper">
                            <a href="#" class="dropdown-box__link">Диагностика</a>
                            <span class="dropdown-arrow"></span>
                        </div>
                        <ul class="dropdown-sub-box__list">
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">УЗИ портативные</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">УЗИ стационарные</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">УЗИ универсальные</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Рентгены для хирургии</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Мобильные рентгены</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Стационарные рентгены</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Электрокардиографы</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Маммографы</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Томографы</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-box__item dropdown-sub-box">
                        <div class="menu-link-wrapper">
                            <a href="#" class="dropdown-box__link">Реабилитация и физиотерапия</a>
                            <span class="dropdown-arrow"></span>
                        </div>
                        <ul class="dropdown-sub-box__list">
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Противолежневые матрасы</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Активная разработка суставов</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Активно-пассивная разработка верхних и нижних конечностей</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Комбинированная терапия</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Миостимуляция</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Нейромышечная диагностика и реабилитация</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Пассивная разработка суставов</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Электротерапия</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-box__item dropdown-sub-box">
                        <div class="menu-link-wrapper">
                            <a href="#" class="dropdown-box__link">Рентгенваскулярная хирургия</a>
                            <span class="dropdown-arrow"></span>
                        </div>
                        <ul class="dropdown-sub-box__list">
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Коронарная ангиопластика</a>
                            </li>
                            <li class="dropdown-sub-box__item">
                                <a href="#" class="dropdown-sub-box__link">Оборудование для рентгеноперационной</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mobile-menu__item dropdown-box">
                <div class="menu-link-wrapper">
                    <a href="#" class="mobile-menu__link">О компании</a>
                    <span class="dropdown-arrow"></span>
                </div>
                <ul class="dropdown-box__list">
                    <li class="dropdown-box__item">
                        <a href="#" class="dropdown-box__link">Новости</a>
                    </li>
                    <li class="dropdown-box__item">
                        <a href="#" class="dropdown-box__link">Вакансии</a>
                    </li>
                    <li class="dropdown-box__item">
                        <a href="#" class="dropdown-box__link">Отзывы</a>
                    </li>
                </ul>
            </li>
            <li class="mobile-menu__item">
                <a href="#" class="mobile-menu__link">Акции</a>
            </li>
            <li class="mobile-menu__item dropdown-box">
                <div class="menu-link-wrapper">
                    <a href="#" class="mobile-menu__link">Партнёры</a>
                    <span class="dropdown-arrow"></span>
                </div>
                <ul class="dropdown-box__list">
                    <li class="dropdown-box__item">
                        <a href="#" class="dropdown-box__link">Партнер</a>
                    </li>
                    <li class="dropdown-box__item">
                        <a href="#" class="dropdown-box__link">Партнер</a>
                    </li>
                    <li class="dropdown-box__item">
                        <a href="#" class="dropdown-box__link">Партнер</a>
                    </li>
                </ul>
            </li>
            <li class="mobile-menu__item">
                <a href="#" class="mobile-menu__link">Сервис</a>
            </li>
            <li class="mobile-menu__item">
                <a href="#" class="mobile-menu__link">Контакты</a>
            </li>
        </ul>
        <div class="mobile-menu__contacts">
            <div class="operating-mode flex">
                <include src="assets/svg/calendar.html"></include>
                <span>Пн - Вс: <b>9:30 - 18:30</b></span>
            </div>
            <div class="mail flex">
                <include src="assets/svg/mail.html"></include>
                <a href="mailto:medmeb@nnz.ru">medmeb@nnz.ru</a>
            </div>
            <div class="phone flex">
                <a href="tel:+78123265925">+7 (812) 326-59-25,</a>
                <a href="tel:+74957828011">+7 (495) 782-80-11</a>
            </div>
        </div>
        <div class="mobile-menu__wrapper">
            <button class="call-btn">Заказать звонок</button>
            <ul class="social">
                <li class="social__item">
                    <a href="#" class="social__link">
                        <include src="assets/svg/whatsapp.html"></include>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <include src="assets/svg/telegram.html"></include>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <include src="assets/svg/email.html"></include>
                    </a>
                </li>
            </ul>
            <div class="lang">
                <div class="custom-select flex flex-center">
                    <div class="select-selected" data-value="value1">Ru</div>
                    <div class="select-items">
                        <div class="option" data-value="value1">Ru</div>
                        <div class="option" data-value="value2">Eng</div>
                    </div>
                </div>

                <!-- Оригинальный скрытый селект для формы -->
                <select name="lang-select" style="display: none;">
                    <option value="value1">Ru</option>
                    <option value="value2">Eng</option>
                </select>
            </div>
        </div>
    </div>
    <div class="mobile-menu__close">
        <include src="assets/svg/cross.html"></include>
    </div>
</div>
<div class="call-modal">
    <div class="call-modal__inner">
        <div class="call-modal__title">Свяжитесь с нами</div>
        <div class="call-modal__form">
            <form class="call-form modal-form">
                <fieldset>
                    <label>
                        <input type="text" name="name" placeholder="Имя*"  required>
                    </label>
                    <label>
                        <input type="tel" name="tel" placeholder="Телефон*" data-phone-input required>
                    </label>
                    <label>
                        <textarea name="textarea" placeholder="Комментарий*" required></textarea>
                    </label>
                </fieldset>
                <fieldset>
                    <button class="submit-btn">
                        Отправить
                    </button>
                    <label class="checkbox-label">
                        <input type="checkbox" name="checkbox" required>
                        <span>
                        <span>Я принимаю условия Соглашения на обработку персональных данных</span>
                    </span>
                    </label>
                </fieldset>
            </form>
        </div>
        <div class="call-modal__close">
            <include src="assets/svg/modal-cross.html"></include>
        </div>
    </div>
</div>
<div class="offer-modal">
    <div class="offer-modal__inner">
        <div class="offer-modal__title">Запросить КП</div>
        <div class="offer-modal__form">
            <form class="offer-form modal-form">
                <fieldset>
                    <label>
                        <input type="text" name="name" placeholder="Имя*"  required>
                    </label>
                    <label>
                        <input type="tel" name="tel" placeholder="Телефон*" data-phone-input required>
                    </label>
                    <label>
                        <input type="email" name="email" placeholder="E-mail*" data-email-input required>
                    </label>
                    <label>
                        <input type="text" name="type" placeholder="Тип оборудования">
                    </label>
                    <label>
                        <textarea name="textarea" placeholder="Комментарий*" required></textarea>
                    </label>
                </fieldset>
                <fieldset>
                    <button class="submit-btn">
                        Отправить
                    </button>
                    <label class="checkbox-label">
                        <input type="checkbox" name="checkbox" required>
                        <span>
                        <span>Я принимаю условия Соглашения на обработку персональных данных</span>
                    </span>
                    </label>
                </fieldset>
            </form>
        </div>
        <div class="offer-modal__close">
            <include src="assets/svg/modal-cross.html"></include>
        </div>
    </div>
</div>
<div class="consultation-modal">
    <div class="consultation-modal__inner">
        <div class="consultation-modal__title">Заказать оборудование или здать вопрос</div>
        <div class="consultation-modal__form">
            <form class="consultation-form modal-form">
                <fieldset>
                    <label>
                        <input type="text" name="name" placeholder="Имя*"  required>
                    </label>
                    <label>
                        <input type="tel" name="tel" placeholder="Телефон*" data-phone-input required>
                    </label>
                    <label>
                        <input type="email" name="email" placeholder="E-mail*" data-email-input required>
                    </label>
                    <label>
                        <input type="text" name="type" placeholder="Тип оборудования">
                    </label>
                    <label>
                        <textarea name="textarea" placeholder="Комментарий*" required></textarea>
                    </label>
                </fieldset>
                <fieldset>
                    <button class="submit-btn">
                        Отправить
                    </button>
                    <label class="checkbox-label">
                        <input type="checkbox" name="checkbox" required>
                        <span>
                        <span>Я принимаю условия Соглашения на обработку персональных данных</span>
                    </span>
                    </label>
                </fieldset>
            </form>
        </div>
        <div class="consultation-modal__close">
            <include src="assets/svg/modal-cross.html"></include>
        </div>
    </div>
</div>
<div class="review-modal">
    <div class="review-modal__inner">
        <div class="review-modal__title">Оставить отзыв</div>
        <div class="review-modal__form">
            <form class="review-form modal-form">
                <fieldset>
                    <label>
                        <input type="text" name="name" placeholder="Имя*"  required>
                    </label>
                    <label>
                        <input type="email" name="email" placeholder="E-mail*" data-email-input required>
                    </label>
                    <label>
                        <input type="tel" name="tel" placeholder="Телефон*" data-phone-input required>
                    </label>
                    <label>
                        <textarea name="textarea" placeholder="Ваше сообщение*" required></textarea>
                    </label>
                    <label>
                        <textarea name="textarea" placeholder="Положительные впечатления"></textarea>
                    </label>
                    <label>
                        <textarea name="textarea" placeholder="Отрицательные впечатления"></textarea>
                    </label>
                </fieldset>
                <fieldset>
                    <button class="submit-btn">
                        Отправить
                    </button>
                    <label class="checkbox-label">
                        <input type="checkbox" name="checkbox" required>
                        <span>
                        <span>Я принимаю условия Соглашения на обработку персональных данных</span>
                    </span>
                    </label>
                </fieldset>
            </form>
        </div>
        <div class="review-modal__close">
            <include src="assets/svg/modal-cross.html"></include>
        </div>
    </div>
</div>
<div class="vacancy-modal">
    <div class="vacancy-modal__inner">
        <div class="vacancy-modal__title">Отправить резюме</div>
        <div class="vacancy-modal__form">
            <form class="vacancy-form modal-form">
                <fieldset>
                    <label>
                        <input type="text" name="name" placeholder="Имя*"  required>
                    </label>
                    <label>
                        <input type="email" name="email" placeholder="E-mail*" data-email-input required>
                    </label>
                    <label>
                        <input type="tel" name="tel" placeholder="Телефон*" data-phone-input required>
                    </label>
                    <label for="file-input" class="file-upload__label">
                        <span class="file-upload__text">Выберите файл<span>(pdf, jpg. Не более 000kb)</span></span>
                        <input type="file" id="file-input" class="file-upload__input" hidden>
                    </label>
                    <label>
                        <textarea name="textarea" placeholder="Ваше сообщение*" required></textarea>
                    </label>
                </fieldset>
                <fieldset>
                    <button class="submit-btn">
                        Отправить
                    </button>
                    <label class="checkbox-label">
                        <input type="checkbox" name="checkbox" required>
                        <span>
                        <span>Я принимаю условия Соглашения на обработку персональных данных</span>
                    </span>
                    </label>
                </fieldset>
            </form>
        </div>
        <div class="vacancy-modal__close">
            <include src="assets/svg/modal-cross.html"></include>
        </div>
    </div>
</div>
<div class="form-submitted">
    <div class="form-submitted__close">
        <svg width="32" height="36" viewBox="0 0 32 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="3.35645" y="28" width="32" height="3.33333" rx="1.66667" transform="rotate(-45 3.35645 28)" fill="#181C1D"></rect>
            <rect x="5.35645" y="5" width="32" height="3.33333" rx="1.66667" transform="rotate(45 5.35645 5)" fill="#181C1D"></rect>
        </svg>
    </div>
    <p>Форма успешно отправлена!</p>
</div>
<div class="overlay"></div>