
        <div class="swiper partners-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="lazy" data-src="assets/images/partner1.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="lazy" data-src="assets/images/partner2.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="lazy" data-src="assets/images/partner3.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="lazy" data-src="assets/images/partner4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="lazy" data-src="assets/images/partner5.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="lazy" data-src="assets/images/partner1.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="lazy" data-src="assets/images/partner2.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="lazy" data-src="assets/images/partner3.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="lazy" data-src="assets/images/partner4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img class="lazy" data-src="assets/images/partner5.png" alt="">
                </div>
            </div>
            <div class="partners__controls">
                <div class="swiper-button-prev">
                    <include src="assets/svg/slider-arrow.html"></include>
                </div>
                <div class="swiper-button-next">
                    <include src="assets/svg/slider-arrow.html"></include>
                </div>
            </div>
        </div>
