<div class="recommended__slider swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="cards__item">
                <include src="layout/template/card/cards-item.html">
                    {
                    "image": "assets/images/cards3.jpg",
                    "title": "Тележка медицинская для перевозки пациентов (каталка) BL-PC–III 6, 5 функций, гидравлическая, рентгенопрозрачное 4-секционное ложе",
                    "link": "#",
                    "brand": "Альфа Мобили",
                    "price": "15 000",
                    "availability": "В наличии",
                    "madeInRussia": true,
                    "isAction": false,
                    "isNew": false
                    }
                </include>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="cards__item">
                <include src="layout/template/card/cards-item.html">
                    {
                    "image": "assets/images/cards1.jpg",
                    "title": "Кровать BLC 2414 K-5 функциональная медицинская электрическая, 5 функций",
                    "link": "#",
                    "brand": "Альфа Мобили",
                    "price": "15 000",
                    "availability": "В наличии",
                    "madeInRussia": true,
                    "isAction": true,
                    "isNew": true
                    }
                </include>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="cards__item">
                <include src="layout/template/card/cards-item.html">
                    {
                    "image": "assets/images/cards2.jpg",
                    "title": "Кровать BLT 8538 G-12 медицинская функциональная механическая, 2 функции, стальное перфорированное ложе",
                    "link": "#",
                    "brand": "Альфа Мобили",
                    "price": "15 000",
                    "availability": "В наличии",
                    "madeInRussia": true,
                    "isAction": false,
                    "isNew": true
                    }
                </include>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="cards__item">
                <include src="layout/template/card/cards-item.html">
                    {
                    "image": "assets/images/cards4.jpg",
                    "title": "Аппарат для лечения ран Venturi",
                    "link": "#",
                    "brand": "Альфа Мобили",
                    "price": "15 000",
                    "availability": "В наличии",
                    "madeInRussia": true,
                    "isAction": false,
                    "isNew": false
                    }
                </include>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="cards__item">
                <include src="layout/template/card/cards-item.html">
                    {
                    "image": "assets/images/cards5.jpg",
                    "title": "Беспроводной дерматом Humeca D42 для педиатрической и общей хирургии",
                    "link": "#",
                    "brand": "Альфа Мобили",
                    "price": "15 000",
                    "availability": "В наличии",
                    "madeInRussia": true,
                    "isAction": true,
                    "isNew": true
                    }
                </include>
            </div>
        </div>
    </div>
    <div class="recommended__controls">
        <div class="swiper-button-prev">
            <include src="assets/svg/slider-arrow.html"></include>
        </div>
        <div class="swiper-button-next">
            <include src="assets/svg/slider-arrow.html"></include>
        </div>
    </div>
</div>